.explorer {
    width: 800px;
    height: 500px;
    background-color: #1d1d1f;
    border: 1px solid #2e2e2e;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #3c3c3e;
    color: white;
}

.title {
    font-size: 14px;
}

.header-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #3c3c3e;
    padding: 0 10px;
}

.opt-buttons {
    display: flex;
    justify-content: space-between;
    width: 65px;
}

.opt-buttons img {
    height: 18px;
}

.prev-button, .next-button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.prev-button:hover, .next-button:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.buttons {
    display: flex;
    gap: 5px;
}

.close-button,
.minimize-button,
.zoom-button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.close-button:hover,
.minimize-button:hover,
.zoom-button:hover {
    opacity: 50%;
}

.minimize-button {
    background-color: #FFBD2E;
}

.zoom-button {
    background-color: #30D158;
}

.close-button {
    background-color: #FF5F52;
}

.explorer-body {
    width: 100%;
    height: 100%;
}

.explorer-aside {
    color: white;
    width: 30%;
    height: 100%;
    background-color: #2e2e2e;
}

.explorer-aside > h1 {
    font-size: 0.8rem;
    opacity: 60%;
    padding: 20px 20px;
}

.explorer-aside > ul {
    margin-bottom: 20px;
    width: 100%;
    list-style: none;
    font-size: 0.9rem;
}

.explorer-aside > ul > li {
    width: 100%;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.explorer-aside > ul > li:hover {
    cursor: pointer;
    background-color: #FF5F52;
}