.taskbar {
    display: flex;
    justify-content: center;
    width: 700px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 12px;
}

.taskbar-icons {
    width: 670px;
}

.taskbar-icons-fixed {
    display: flex;
}

img {
    height: 50px;
}