@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f1f1f1;
    background-color: rgba(127, 127, 255, 0.521);
}

main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}